.App {
  margin-top: 60px;
}

/* homepage css*/
.homePage {
  width: 80%;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Not Found page css */
.notFoundContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.notFound {
  width: 80%;
  height: 100vh;
  margin: auto;
  background-image: url(./components/404-error-page-not-found.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/* form */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  padding-top: 100px;
}

.Input {
  width: 50%;
}

.Btn {
  width: 20%;
}